

@font-face {
    font-family: 'Lemon Milk Light';
    src: url('../fonts/lemon-milk/LEMONMILK-Light.otf') format('opentype');
    /*font-weight: normal;*/*
}

@font-face {
    font-family: 'Lemon Milk Regular';
    src: url('../fonts/lemon-milk/LEMONMILK-Regular.otf') format('opentype');
    /*font-weight: normal;*/
}

@font-face {
    font-family: 'Lemon Milk Medium';
    src: url('../fonts/lemon-milk/LEMONMILK-Medium.otf');
    /*font-weight: 600;*/
}

@font-face {
    font-family: 'Lemon Milk Bold';
    src: url('../fonts/lemon-milk/LEMONMILK-Bold.otf') format('opentype');
    /*font-weight: bold;*/
}

.root {
    -fx-font-family: 'Lemon Milk Light';
    -fx-font-size: 20px;
}

HBox {
    -fx-font-size: 20px;
    -fx-spacing: 5px;
    -fx-alignment: center;
}

.bg-dark {
    -fx-background-color: #232323;
}
